<div class="loading" *ngIf="!comments">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>

<div>
  <div id="comments" *ngIf="comments">
    <article  *ngFor="let comments of comments">
      <div class="comment-item" *ngIf="comments.approve">
        <ng-container *ngIf="_authService.loggedIn()">
          <div class="text-right delete-comment-box">
            <a (click)="deletePost(comments._id)" class="delete-comment" title="Eliminar comentario">'</a>
          </div>
        </ng-container>
        <h4><img src="https://res.cloudinary.com/escnil994/image/upload/v1603960708/angular/user_yldyfw.png"
            class="default-user"> {{comments.name}}</h4>
        <div id="content-comment">
          <span id="datesa">
            {{ comments.date | amDateFormat:'LL' }}
          </span>
          <p class="text-left">{{comments.comment}}</p>
          <ng-container *ngIf="_authService.loggedIn()">
            <div class="text-left font-weight-bold text-success">
              <p class="text-danger">Esto no se muestra al usuario, solo al administrador</p>
              <span>{{comments.email}}</span>
              <br>
              <a href="mailto:{{comments.email}}">Contactar a {{comments.name}}</a>
            </div>
          </ng-container>

        </div>

      </div>
    </article>
  </div>
</div>