<div class="mt-5 mb-5">
  <h1 class="subheader contact-left">DEJAME TU COMENTARIO</h1>
  <p class="contact-p contact-left">Tu dirección de correo no será publicada</p>

  <div id="repliesRes" class="container m-3 mr-5 mt-5">
    <form class="mid-form2" #commentForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group replie-data">
        <label class="contact-p contact-left" for="name">Nombre*</label>
        <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="comment.name" required>
        <div *ngIf="!name.valid && name.touched">
          <p class="text-danger"> El nombre es obligatorio!!! </p>
          <p class="text-success">Por favor ingresa un nombre</p>
        </div>
      </div>

      <div class="form-group replie-data">
        <label class="contact-p contact-left" for="email">Email*</label>
        <br>
        <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="comment.email" required>
        <div *ngIf="!email.valid && email.touched">
          <p class="text-danger">Error!!!</p>
          <p class="text-success">Por favor ingresa un email</p>
        </div>
      </div>
      <div class="form-group replie-data">
        <label class="contact-p contact-left" for="commentary">Comentario*</label>
        <textarea type="text" id="commentary" name="commentary" #comments="ngModel" [(ngModel)]="comment.comment"
                  required></textarea>
        <div *ngIf="!comments.valid && comments.touched">
          <p class="text-danger">Error!!!</p>
          <p class="text-success">Por favor ingresa un comentario</p>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="btn-reply">
        <input type="submit" value="COMENTAR" class="btn-reply-btn" [disabled]="commentForm.invalid"/>
      </div>
    </form>

  </div>
</div>
